{% load static %}

<div class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-title">
                    <i class="glyphicon glyphicon-user"></i>
                    <h2>Meet our <strong>Specialists</strong></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-3 margin30">
                <div class="team-col wow animated fadeInLeft" data-wow-delay="0.1s">
                    <a href="#"><img src="{% static 'tapcordsite/img/medical/man3.png' %}" class="img-responsive" alt=""></a>
                    <div class="divide20"></div>
                    <h3>Engr. Franklin</h3>
                    <em>Electrical installation and maintenance & repair specialist</em>
                    <div class="divide20"></div>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="social-icon social-icon-sm social-ico-border-round social-ico-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--team col-->
            </div><!--col-md-3 col-sm-6--> 
            <div class="col-sm-6 col-sm-3 margin30">
                <div class="team-col wow animated fadeInLeft" data-wow-delay="0.2s">
                    <a href="#"><img src="{% static 'tapcordsite/img/medical/man3.png' %}" class="img-responsive" alt=""></a>
                    <div class="divide20"></div>
                    <h3>Engr. Tochukwu</h3>
                    <em>Plumbing specialist</em>
                    <div class="divide20"></div>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="social-icon social-icon-sm social-ico-border-round social-ico-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--team col-->
            </div><!--col-md-3 col-sm-6-->
            <div class="col-sm-6 col-sm-3 margin30">
                <div class="team-col wow animated fadeInLeft" data-wow-delay="0.3s">
                    <a href="#"><img src="{% static 'tapcordsite/img/medical/woman1.png' %}" class="img-responsive" alt=""></a>
                    <div class="divide20"></div>
                    <h3>Madam elizbeth</h3>
                    <em>Admin/facility manager</em>
                    <div class="divide20"></div>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="social-icon social-icon-sm social-ico-border-round social-ico-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--team col-->
            </div><!--col-md-3 col-sm-6-->
            <div class="col-sm-6 col-sm-3 margin30">
                <div class="team-col wow animated fadeInLeft" data-wow-delay="0.4s">
                    <a href="#"><img src="{% static 'tapcordsite/img/medical/man3.png' %}" class="img-responsive" alt=""></a>
                    <div class="divide20"></div>
                    <h3>Engr Festus</h3>
                    <em>Project manager</em>
                    <div class="divide20"></div>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="social-icon social-icon-sm social-ico-border-round social-ico-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon social-icon-sm  social-ico-border-round social-ico-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--team col-->
            </div><!--col-md-3 col-sm-6-->
        </div>
    </div>
  </div><!--team section end-->
  