{% load static %}

<div class="container quick_contact_form ">
    <div class="row containe">
        <div class="contact-info">
        <h4 center-title > Or Send Us A Quick Message</h4>

                         
        </div>
        
        <!-- Contact Form -->
        <div class="col-md-12"> 
          <!-- IMPORTANT: change the email address at the top of the mail/mail.php file to the email address that you want this form to send to -->
          {{success_msg}}
          <form class="form-style validate-form clearfix" method="post" action="." method="POST" role="form">
          {% csrf_token %}
            {{myform.as_p}}
           
                <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-outline-inverse  submit">Submit</button>
                </div>
                <div class="form-group form-general-error-container"></div>
              </div>
              <!-- END: Right Column -->
            </div>
          </form>

        </div>
        <!-- END: Contact Form --> 

    </div>
</div>