
<ul class="list-inline mb-0 small text-center">
            
    <li class="list-inline-item"><a class="reset-anchor" href="https://www.facebook.com/tapcordengineering"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a class="reset-anchor" href="https://api.whatsapp.com/send?phone=2348140790116"><i class="fab fa-whatsapp"></i></a></li>
    <li class="list-inline-item "><a class="reset-anchor" href="mailto:tapcordengineering@gmail.com"><i class="fab fa-email"></i>tapcordengineering@gmail.com</a></li>
  
</ul>