
{% load static %}

<section class="testimonials">
    <div class="container">
        <div class="center-title">
            <i class="glyphicon glyphicon-volume-up"></i>
            <h2>What people say<strong> about us</strong></h2>                        
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="testi-slides">
                    <ul class="slides">
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/man2.png' %}" alt="">
                            <h4>Victor </h4>
                            <em>Software developer</em>
  
                            <p>
                                Tapcord is swift to response when ever i need them for my residencial maintenance work. they always go beyond my expectation

                            </p>
                        </li>
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/man1.png' %}" alt="">
                            <h4>Simon</h4>
                            <em>Project manager</em>
  
                            <p>
                                Tapcord engineering is my goto for any electrical and plumbing works come rain come shine, they have always proven them selves worthy of my trust,
                                so yes i will definitely recomend tapcord
                            </p>
                        </li>
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/woman2.png' %}" alt="">
                            <h4>Mercy Okafor</h4>
                            <em>Senior manage</em>
  
                            <p>
                                I would always recomend tapcord to any one that really wants get stuff done real fast and perfect,
                                they are infact very reliable when it comes to handling facilities, they always do wonderful job.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>