
{% load static %}

<section class="testimonials">
    <div class="container">
        <div class="center-title">
            <i class="glyphicon glyphicon-volume-up"></i>
            <h2>What people say<strong> about us</strong></h2>                        
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="testi-slides">
                    <ul class="slides">
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/testimonials-1.jpg' %}" alt="">
                            <h4>Garry McCleey</h4>
                            <em>Software developer</em>
  
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </li>
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/testimonials-2.jpg' %}" alt="">
                            <h4>Sarah Brown</h4>
                            <em>School teacher</em>
  
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </li>
                        <li>
                            <img src="{% static 'tapcordsite/img/medical/testimonials-3.jpg' %}" alt="">
                            <h4>Donald Trump</h4>
                            <em>Artist</em>
  
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>