{% load static %}

<section class="know-more">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 margin30">
                <h3>Video Presentation </h3>
                <p class="lead">Our work speak for us</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe  src="https://www.youtube.com/embed/wIfVTAh4eWs?autoplay=1&controls=0&loop=1&mute=1"></iframe> -->
                    <iframe  src="https://www.youtube.com/embed/wIfVTAh4eWs?autoplay=0&controls=1&lop=1&mute=1"></iframe>
                    <!-- https://www.youtube.com/embed/VIDEO_ID -->
                    
                </div>
            </div>
            <div class="col-sm-6 margin30">
                <h3>Tapcord Engineering</h3>
                <p class="lead">Why Choose Us</p>
  
                <div class="panel-group collapse-colored-col" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading active">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    REliability
                                </a>
                            </h4>
                        </div><!-- /.panel-heading -->
  
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Our team is equipped to handle all types of electrical and plumbing installations. From lighting fixtures to complex plumbing systems, we've got you covered. Light up your space with us today
                        </div><!-- /.panel-heading -->
                    </div><!-- /.panel -->
  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Commitment to service
                                </a>
                            </h4>
                        </div><!-- /.panel-heading -->
  
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Your home deserves the best! Our comprehensive residential services ensure your living space is safe, energy-efficient, well-lit and conducive
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel -->
  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Affordability
                                </a>
                            </h4>
                        </div><!-- /.panel-heading -->
  
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Professional. Reliable. Affordable. That’s the service we aim to provide. Let us handle any of your projects and experience the difference.
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel -->
  
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Goal oriented
                                </a>
                            </h4>
                        </div><!-- /.panel-heading -->
  
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our mission is to provide you with services that exceed your expectations. We value our customers and strive to provide exceptional customer service before, during, and after the completion of the project.
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel -->
                </div><!-- /.panel-group -->
            </div>
        </div>
    </div>
  </section>
  