{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="custom-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>
        </div><!--breadcrumb-->
        <div class="divide70"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-1.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-2.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-3.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
                 <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-4.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 4</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-5.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 5</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="{% static 'tapcordsite/img/medical/service-6.jpg' %}" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Service 6</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Read more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
        </div>
        <!--services container-->


 		<div class="divide30"></div>

        {% include 'included/home_service_banner.html' %}


         {% include 'included/testimonials_section.html' %}
        <!--testimonials end-->




        {% include 'included/request_quota_banner.html'%}

{% endblock %}