
{% extends 'base.html' %}
{% load static %}


       <!-- Static navbar -->
     
{% block content %}
        <div class="custom-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
        </div><!--breadcrumb-->
        <div class="divide70"></div>

        <div class="container">   
            <ul class="filter list-inline">
                <li><a class="active" href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".first-category ">First Category </a></li>
                <li><a href="#" data-filter=".second-category ">Second Category </a></li>
                <li><a href="#" data-filter=".third-category ">Third category </a></li>
            </ul>
            <div class="row">
                <div class="portfolio-box iso-call col-3-space">

                    <div class="project-post first-category  third-category ">
                        <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-1.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Lorem</a></h3>
                            <span>Lorem specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->
                    <div class="project-post first-category  second-category">
                       <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-2.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Ipsum</a></h3>
                            <span> specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->

                    <div class="project-post first-category  second-category">
                       <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-3.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Dallar</a></h3>
                            <span>Pediatric specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->
                   
                    <div class="project-post second-category  third-category">
                        <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-4.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Avensum</a></h3>
                            <span>Cancer specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->

                    <div class="project-post third-category ">
                      <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-5.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Lapsut</a></h3>
                            <span>Gastro specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->
                    <div class="project-post  second-category ">
                        <div class="item-img-wrap ">
                            <img src="{% static 'tapcordsite/img/medical/team-6.jpg' %}" class="img-responsive" alt="team">
                            
                        </div> 
                        <div class="team-desc">
                            <h3><a href="#">Dr. Kullemn</a></h3>
                            <span>Hear specialist</span>
                        </div><!--team desc-->
                    </div><!--project post-->

                    
                </div>
            </div>
        </div><!--container-->



        <!-- the request quotation section -->
    {% include 'included/request_quota_banner.html' %}

{% endblock %}
       
